body {
  font-family: 'Poppins', sans-serif;
  color: #4d4d4d;
}
.light-text {
  font-weight: lighter;
}
.title-super {
  font-size: 55px;
}
.title-logo {
  margin-top: 20px;
}
.text-muted {
  color: #003d66;
}
hr {
    height: 2px;
    width: 1100px;
    background-color: #003d66;
